/*This is the CSS Sheet for the First Part of Homework 1 */
*{
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

body{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color:#777;
    background:#777;
    width:960px;
    font-size:18px auto;
    font-weight: normal;

}

.container{
	margin:auto;
    overflow:hidden;
}

#main-header,
#navbar,
#main-section,
#sidebar,
#main-footer{
    background:#ebebeb;
    font-size:18px auto;
    font-weight:normal;
}

#main-article{
    color:#ebebeb;
    background:#777;
    font-weight: normal;
    margin: 20px 0px 0px 0px;
}

#main-h{
    background:#ebebeb;
    color: #777;
    padding: 0px;
    margin: 10px 0px 0px 0px;
}
#main-p{
    background:#ebebeb;
    color: #777;
    padding: 0px;
    margin: 0px;
}

#main-section{
    float:left;
    width: 55%;
    padding: 20px 0px 0px 0px;
    margin: 10px 0px 20px 20px;
}

#sidebar{
    float:right;
    width: 40%;
    padding: 20px 0px 0px 0px;
    margin: 10px 20px 20px 0px;
    position: relative;
    height: 336px;
}


#main-footer{
    clear: both;
    font-size:18px;
    font-weight:normal;
    overflow:auto;
}

*h1,
*p{
    color:#777;
    background:#ebebeb;
    font-size:18px;
    font-weight: normal;
}
